<div class="container">
  <h2 class="header-font">Doula</h2>

  <div class="line">
    <div class="line-group">
      <h4>What is a Doula?</h4>
      Doula, as defined by the DONA International, is a trained professional who provides continuous physical, emotional and informational support to a mother before, during and shortly after childbirth to help her achieve the healthiest, most satisfying experience possible.
    </div>
  </div>
  <div class="line">
    <div class="line-group">
      <h4>Services Available Include:</h4>
      <ul>
        <li>Free Interview</li>
        <li>1-2 Prenatal visits (approx.. 1.5 hours each)</li>
        <li>Assistance in writing your Birth Preferences List, i.e. “Birth Plan”</li>

        <li>Available 24 hours a day for phone/in-person support during labor</li>
        <li>1 Free Pregnancy Yoga class at your home</li>
        <li>On-call for your birth even past your due date</li>
        <li>Continuous personal support during Active Labor, birth, and delivery</li>
        <li>Immediate postpartum assistance, including initiating breastfeeding</li>

        <li>Help to create a calm, peaceful, and supportive birthing environment for mom and partner</li>
        <li>Demonstration of labor techniques to include, but are not limited to: position changes, relaxation,
        massage, use of birth ball, knowledge of alternative pain relief methods</li>
        <li>Reiki hands-on therapy upon request</li>
        <li>Doula can also support client during and after a Cesarean Section delivery</li>
        <li>1 Postpartum visit to reflect on your birth experience, recovery, and to help you connect with additional resources following delivery</li>
        <li>Photography during labor and birth as desired</li>
        <li>Provide important references for professional support</li>
        <li>Birth Story (typed, detailed recall of events)</li>
      </ul>
    </div>
  </div>

  <div class="line">
    <div class="line-group">
      <h4>Add Ons:</h4>
      <ul>
        <li>Private pre/post-natal yoga classes</li>
        <li>Private Childbirth Prep. Intensive Course</li>
        <li>Reiki hands on healing, during pregnancy, for stress reduction and balance</li>
      </ul>
    </div>
  </div>
  <h4>Prices available upon request</h4>
  <br/>
  <div class="centered">
    <p>"My dream is to live a good life and be loving, be close to God and be a good human being and bring peace to people" - Ziggy Marley</p>
  </div>
</div>
