<div class="container">
  <h2 class="header-font">Readings</h2>
  <div class="line">
    <div class="line-group">
      <a href="http://www.alignforhealth.com/blog/simple-steps-to-eliminate-si-pain" target="_blank">
        Simple Steps to Eliminate SI Pain Courtesy of Susan McLaughlin
      </a>
      <br/>
      <a href="http://www.yogajournal.com/article/practice-section/out-of-joint-2/" target="_blank">
        Considerations During Yoga Asana Courtesy of Judith Lasater
      </a>
    </div>
  </div>
</div>
