<div class="container">
  <h2 class="header-font">Nutrition</h2>
  <div class="line">
    <div class="line-group">
      <h3>10 Day Transformation</h3>
      <p>Aids the body in detoxification and cleansing of the digestive tract</p>
      <p>Burns fat and builds muscle</p>
      <p>Helps the body break addictions to harmful foods</p>
      <p>Assists the body in resetting its metabolism</p>
      <ul>
        <li><a href="http://www.mypurium.com/auracommunityhealth/product/2204" target="_blank">Power Shake</a></li>
        <li><a href="http://www.mypurium.com/auracommunityhealth/product/2110" target="_blank">Apothe Cherry</a></li>
        <li><a href="http://www.mypurium.com/auracommunityhealth/product/3550" target="_blank">Super Amino</a></li>
        <li><a href="http://www.mypurium.com/auracommunityhealth/product/2260" target="_blank">Super Cleansr</a></li>
        <li><a href="http://www.mypurium.com/auracommunityhealth/product/2060" target="_blank">Super Lytes</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="centered">
      <a href="http://www.mypurium.com/auracommunityhealth/product/11157-AB" target="_blank">
        <div class="row">
          <div class="alert alert-success col-md-4 col-md-offset-4">
            <p>Click picture to order now!</p>
          </div>
        </div>
        <%= image_tag "10-Day_Transformation.png", class: "img-responsive", width: "100%"%>
      </a>
      <p>Use code ‘AuraCommunityHealth' to receive $50 discount!</p>
    </div>
  </div>
  <br/>
  <ul>
    <li><a href="http://www.puriumcorporate.com/purium1/php_uploads/10Day/TransScheduleCard_RD0815_WEB.pdf" target="_blank">Daily Schedule</a></li>
    <li><a href="http://www.puriumcorporate.com/purium1/php_uploads/10Day/TransformationGuideV5.pdf" target="_blank">Guide</a></li>
  </ul>
  <div class="line">
    <div class="line-group">
      <h3><a href="http://www.mypurium.com/auracommunityhealth/home/core3" target="_blank">YOUR DAILY INSURANCE POLICY</a></h3>
      <ul>
        <li>Protein for building muscles</li>
        <li>Fruit for repairing damage</li>
        <li>Veggies for fueling cells</li> 
      </ul>
    </div>
  </div>
  <a href="http://www.puriumcorporate.com/purium1/php_uploads/10Day/TransformationFAQs.pdf" target="_blank"><h3>FAQ</h3></a>
  <br/>
  <br/>
  <br/>
  <br/>

</div>
