<div class="container">
  <h2 class="header-font">Transformation Program</h2>
  <div class="line">
    <div class="line-group">
      <h4>Women's Group 10-Day Transformation Program</h4>
      This 10-day program is for you if you are ready to <strong>Enhance Your Metabolism, Energize Your Life,</strong> and <strong>Create Empowering & Transformative Habits</strong>.
      <br/>
      It comes from Diving Deep Inside and
      Uncovering the Hidden Power Within Yourself...
      <br/>
      And I am here to guide you.
      <br/>
      Pay In Full:  $349
      <br/>
      Start Date: January 23, 2016
    </div>
  </div>

  <div class="line">
    <div class="line-group">
      <h4>What is included:</h4>
      Daily Group Video Conferences Guided by me, Molly Smith and Dr. Brandy McCans
      <br/>
      Each 1-hour Coaching Call will focus on:
      <br/>
      <ul>
        <li>How to Cleanse in the Most Healthy Way During the Winter Season</li>
        <li>Receive specific Breath Work Practices to Enhance Detoxification</li>
        <li>Learn Chakra-Clearing Exercises & Guided Meditations</li>
        <li>Experience Empowerment Exercises</li>
        <li>Receive 2 <a href="http://www.prettysexyweightloss.com/healthy-lifestyle-for-women.html" target="_blank">Nutrition Analysis Graphs</a> to see how your organ systems improve in function!</li>
        <li>Get All of Your Questions Answered By A Doctor who is guiding you through</li>
        <li>Have Access to our community FaceBook Page for Deeper Support</li>
        <li>Enjoy A Community of People Creating Greater Health In Their Lives!</li>
        <li>Learn how to Take Your Progress into Your Lifestyle so that You Never Have To Yo-Yo Again!</li>
      </ul>
      You will also receive a 10-Day Transformation Kit that includes all of your Super Foods and basically replaces your groceries.
      Since you won't be buying Starbuck's, wine and other processed foods, this is not a financial decision, but a decision of whether or not you are really ready for true change.
      <p><strong>Are You Ready?</strong></p>
    </div>
  </div>

  <div class="line">
    <div class="line-group">
      <h4>Your kit and this 10-Day Intensive:</h4>
      $349
      (the price of the kit is subject to change)
      <br/>
      Most people spend about $25/day on wine, food, coffee and the sorts....
      <br/>
      Why not Spend That Money On Your Health and Have Some Fun With Us!
      <br/>
      Call <a href="tel:702-422-0909">720-422-0909</a> or email to
      <%= mail_to "AuraCommunityHealthLLC@gmail.com" do %>
        <span>AuraCommunityHealthLLC@gmail.com</span>
      <% end %>
      <br/>
      *If you already have you 10-Day Kit your cost is $99!
    </div>
  </div>
</div>
