<div class="container">
  <h2 class="header-font">Childbirth Prep/Coaching</h2>

  <div class="line">
    <div class="line-group">
      <h4>Receive private coaching with Molly</h4>
      <p>These one-on-one coaching sessions can be done in-person, by telephone, or done virtually. The content is shaped by your needs. Topics can vary from pregnancy/childbirth; tools to assist in labor; natural pain relief; yoga; to postpartum care.</p>
      <p>These sessions are ideal for couples who are seeking a refresher for subsequent birth preparation or mothers who seek understanding about choices in childbirth.</p>
    </div>
  </div>
  <br/>

  <div class="centered">
    <%= image_tag "childbirth_prep.jpg", style: "height:400px;"%>
  </div>
</div>
