<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "feather.png" %>
    </div>
    <div class="col-md-6">
      <br/>
      <br/>
      <br/>
      <h1 class="header-font">Aura Community Health</h1>
    </div>
  </div>
  </br>

  <div class="line">
    <div class="line-group">
      <h4>Mission:</h4>
      The mission of Aura Community Health, LLC is to offer a variety of non-invasive, alternative modalities that foster healing, love and service to those in need, as well as those seeking a change in themselves and their lives.
      </br>
      Aura Community Health, LLC values individual awareness and integration of the body, mind and spirit. By working with individuals and groups through health education forums, exercises, one-on-one sessions, and community awareness, the ultimate goal is to grow as an individual and as a social collective.
    </div>
  </div>
  </br>
  <div class="line">
    <div class="line-group">
      <h4>Vision:</h4>
      I see this company growing and evolving in the next few years. I envision a network where access to health and wellness is readily available and individuals are able to walk in their own power and light. I see the world as we know it being transformed by those that are empowered to live a life that they have been called to live and love abounds tremendously. I truly believe that if we are able to shift our thinking, our energies, our hearts, the rest will follow.
    </div>
  </div>
  </br>
  <div class="line">
    <div class="line-group">
      <h4>Values:</h4>
      Community
      </br>
      Health
      </br>
      Strength
    </div>
  </div>
  </br>
  <div class="line">
    <div class="line-group">
      <h4>Services Offered:</h4>
      <ul>
        <li>Private/Public Yoga Instruction</li>
        <li>Doula/Childbirth Education</li>
        <li>Pre-conception/Post-partum Services</li>
        <li>Energy Therapy</li>
        <li>Nutrition/Supplementation</li>
        <li>Fitness</li>
      </ul>
    </div>
  </div>

  </br>
  </br>
  <div class="centered">
    <p>"We're in the midst of a radical, essential paradigm shift in the Western medical model... It is imperative that we expand our concepts of health care to include subtle energy and energy medicine" - Judith Orloff, M.D.</p>
    </br>
    <p>"Fifty percent of [women in the U.S.] diet two or more times each year with little or no long-term success at reaching or maintaining their desired weight." - Weight Watchers</p>
  </div>
</div>
