<div class="container">
  <h2 class="header-font">Events</h2>
  <div className="container">
    <div class="centered">
      <iframe src="https://calendar.google.com/calendar/embed?src=auracommunityhealthllc%40gmail.com&ctz=America/Denver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
