<div class="container">
  <h2 class="header-font">Yoga</h2>

  Molly completed her 200 hour yoga training at Yoga Pod LoDo and trained under Amy Baker and Keri Bergeron in 2014. She completed an 85 hour pre-natal yoga training as well. Her specialities include pre-natal, post-partum, vinyasa, yin and fusion. She also enjoys teaching yoga with mothers and their children.

  <div class="line">
    <div class="line-group">
      <h4>Public Classes:</h4>
      <a href="https://lodo.yogapod.com/about/" target="_blank">Yoga Pod LoDo</a>
      <br/>
      <a href="https://cherrycreek.yogapod.com/" target="_blank">Yoga Pod Cherry Creek</a>
      <br/>
      <a href="http://www.bellybliss.org/Yoga_Fitness.html" target="_blank">Belly Bliss</a>
      <br/>
      <a href="http://www.themamahood.com/denver-schedule-1/" target="_blank">The Mama Hood</a>
    </div>
  </div>

  <div class="line">
    <div class="line-group">
      <h4>Private Sessions:</h4>
      Each class focuses on the individual's unique needs and level of practice. The class is typically 75 minutes and includes the convenience of working around your schedule, with one-on-one instruction. Subtle energy adjustments and aromatherapy are included if desired.
      <ul>
        <li>Individual Sessions - $65</li>
        <li>5 Class Package- $275 ($55 per session)</li>
        <li>10 Class Package- $400 ($40 per session)</li>
      </ul>
        Options to create mini-classes with a group of friends/collegues are available, prices will vary.
        Sliding scale pricing is available.
        <br/>
        Please contact Molly to inquire about availability and schedule your first session! <a href="/contact">Contact</a>
    </div>
  </div>

  <br/>

  <div class="centered">
    <%= image_tag "yoga.jpg", style: "height:300px;"%>
  </div>
</div>
