<div class="container">
  <h2 class="header-font">Sample Birth Plan</h2>
  <div class="line">
    <div class="line-group">
      <h4>Labor Wishes:</h4>
      <p>We would like to have a "natural birth" - avoiding all medication if possible (including, but not limited to, Pitocin, IV, epidural, etc.). If an event should arrive where medication would be needed, we would like discussion of alternatives and consequences, and some private time for discussion.</p>
      <p>We would especially like to avoid labor induction (Pitocin). I would prefer to initially try other methods of induction (i.e. changing positions, walking, nipple stimulation and thumb sucking, cervical ripening, etc.)</p>
      <p>We would like the absolute minimum of time necessary attached to monitoring.</p>
      During labor, we would like the ability to:
      <ul>
        <li>Walk freely</li>
        <li>Use the shower and labor tub</li>
        <li>Change positions throughout</li>
        <li>Have access to clear liquids</li>
        <li>Have a quiet and encouraging environment</li>
        <li>Avoid an IV and an excess of vaginal exams</li>
      </ul>
    </div>
  </div>
  <div class="line">
    <div class="line-group">
      <h4>Delivery Wishes</h4>
      <p>We would like the baby to be placed on the mother's chest immediately after birth in order to "bond" and nurse. As well, we would like any tests done to the baby while placed on the mother's chest.</p>
      <p>We would like to not have a mirror present during birth. Neither of us want to view the baby crowning. Also, the father would like to cut the cord.</p>
      <p>We would like to not have the cord cut until it has stopped pulsating.</p>
    </div>
  </div>
  <div class="line">
    <div class="line-group">
      <h4>Postpartum Wishes</h4>
      <p>We would like a private room if possible.</p>
      <p>We would like all procedures done at bedside. We would also prefer the baby to "room in" full-time.</p>
      <p>We would like to meet with a lactation consultant regarding breastfeeding.</p>
      <p>If the baby is a boy, we would like a circumcision.</p>
    </div>
  </div>
</div>
