<div class="container">
  <h2 class="header-font">About Molly</h2>
  <div class="line">
    <div class="line-group">
      <p>Molly is a Colorado native and studied at the University of Colorado. She is an avid hiker, loves to cook and practice yoga with her little baby. She is a doula, childbirth educator, yoga instructor and reiki practitioner. Molly has a never ending desire to learn and is passionate about helping you re-discover your most loved self. </p>
      <p>She continues to learn by studying alternative healing practices and encorporates them into her classes in different capabilities. Molly's classes offer a space to lengthen, strengthen and nourish the mind and body. Classes are balanced with reflection, pranayama and strength builiding to carry you through the waves of pregnancy, labor, parenting and life.</p>
    </div>
  </div>

  <br/>

  <div class="centered">
    <%= image_tag "molly-2.jpg", style: "height:400px;"%>
  </div>
</div>
