<div class="container">
  <div class="centered">
    <h2 class="header-font">Contact</h2>
    <strong>Please feel free to reach me with any questions, comments, and/or to schedule an appointment:</strong>
    <br/>
    <br/>
    <%= mail_to "AuraCommunityHealthLLC@gmail.com" do %>
      <span>AuraCommunityHealthLLC@gmail.com</span>
    <% end %>
    <br/>
    <br/>
    <a href="tel:702-422-0909" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 720-422-0909
    </a>
  </div>
</div>
