<div class="container">
  <h2 class="header-font">Testimonials</h2>

  <div class="line">
    <div class="line-group">
      <p><strong>Reiki</strong></p>
      <p>Molly Smith is an extraordinary Reiki healer who uses what seems like her superhuman talent for feeling to heal her clients.  With a variety of modalities, Molly brings an impressive and knowledgeable insight to each session.  She is able to sensitively articulate her intuitive feelings, and deliver noticeable healing that results in more ease.  I would definitely recommend Molly Smith to anyone looking for a bright, sensitive, and effective [Reiki] healer!</p>
      <p>- Lindsey</p>
    </div>
  </div>

  <div class="line">
    <div class="line-group">
      <p><strong>Yoga</strong></p>
      <p>Each of Molly's yoga classes are creatively built around diving deep into a unique focus — gracefully and intentionally led. She has a teaching style that is gentle, accessible and informed. I enjoy each of her classes and feel that she truly cares about her students and is incredibly passionate about deepening one's yoga practice.</p>
      <p>- Jessica</p>
    </div>
  </div>
</div>
